<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* - HEADER - */
.header nav {
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 12px 20px;
}

ul li a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
form button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

#ecop {
    color: #fff;
}

form button[type="submit"] {
    background-color: #f44336;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover,
.recipe button:hover,
.recipe-closeBtn:hover {
    background-color: #ff5c5c;
}

/* - MAIN SECTION - */
.recipe-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    place-items: center;
}

.recipe {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    transform: scale(1.02);
}

.recipe img {
    height: 300px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.recipe h3 {
    font-size: 24px;
    margin: 10px 0 5px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #f44336;
    color: #fff;
    border: none;
}

/* - RECIPE DETAILS POPUP- */
.recipe-details {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #694c2f;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    z-index: 1000;
}

.recipe-details-content {
    padding: 30px;
}

/* Scrollbar Styl */
.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background-color: #b5b5ba;
    border-radius: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

/* Recipe detail text styling */
.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

.ingredientList {
    margin: 10px 0 10px 20px;
}

.recipeInstruction p {
    line-height: 30px;
    white-space: pre-line;
    margin-bottom: 10px;
}

/* Close Button */
.recipe-closeBtn {
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recipe Container Images */
.recipe-container img {
    display: block;
    margin-top: 10px;
    max-width: 200px;
}


@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80%;
        margin-top: 20px;
    }

    .recipe-details {
        width: 80%;
        height: 70%;
    }
}

/* EXTRA SEARCH BAR RESPONSIVE CODE */
@media screen and (max-width: 900px) {
    .header nav form {
        width: 60%;
    }

    form input[type="text"],
    form button[type="submit"] {
        font-size: 16px;
        padding: 8px;
    }
}

@media screen and (max-width: 700px) {
    .header nav {
        flex-direction: column;
        gap: 10px;
    }

    .header nav form {
        width: 80%;
    }

    form input[type="text"] {
        margin-right: 8px;
    }
}

@media screen and (max-width: 500px) {
    .header nav form {
        width: 95%;
        flex-direction: row;
    }

    form input[type="text"] {
        font-size: 14px;
        padding: 8px;
        margin-right: 6px;
    }

    form button[type="submit"] {
        font-size: 14px;
        padding: 7px 10px;
    }
}
=======
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* - HEADER - */
.header nav {
    background-color: #212121;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
ul {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 12px 20px;
}

ul li a {
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.header nav h1 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header nav form {
    display: flex;
    justify-content: center;
}

form input[type="text"] {
    flex-grow: 1;
    margin-right: 10px;
}

form input[type="text"],
form button[type="submit"] {
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

#ecop {
    color: #fff;
}

form button[type="submit"] {
    background-color: #f44336;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form button[type="submit"]:hover,
.recipe button:hover,
.recipe-closeBtn:hover {
    background-color: #ff5c5c;
}

/* - MAIN SECTION - */
.recipe-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    place-items: center;
}

.recipe {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(78, 73, 73, 0.1), -5px -5px 10px rgba(34, 34, 34, 0.5);
    cursor: pointer;
    max-width: 350px;
    transition: transform 0.3s ease-in-out;
}

.recipe:hover {
    transform: scale(1.02);
}

.recipe img {
    height: 300px;
    width: 100%;
    border-radius: 6px 6px 0 0;
    object-fit: cover;
}

.recipe h3 {
    font-size: 24px;
    margin: 10px 0 5px;
}

.recipe p {
    font-size: 20px;
    color: #4a4a4a;
    margin: 5px 0;
}

.recipe span {
    font-weight: 600;
}

.recipe button {
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 18px auto;
    background-color: #f44336;
    color: #fff;
    border: none;
}

/* - RECIPE DETAILS POPUP- */
.recipe-details {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #694c2f;
    border-radius: 12px;
    width: 40%;
    height: 60%;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;
    z-index: 1000;
}

.recipe-details-content {
    padding: 30px;
}

/* Scrollbar Styl */
.recipe-details::-webkit-scrollbar {
    width: 10px;
}

.recipe-details::-webkit-scrollbar-thumb {
    background-color: #b5b5ba;
    border-radius: 16px;
}

body::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

/* Recipe detail text styling */
.recipeName {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    margin-bottom: 10px;
}

.ingredientList {
    margin: 10px 0 10px 20px;
}

.recipeInstruction p {
    line-height: 30px;
    white-space: pre-line;
    margin-bottom: 10px;
}

/* Close Button */
.recipe-closeBtn {
    border: none;
    font-size: 18px;
    padding: 8px;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Recipe Container Images */
.recipe-container img {
    display: block;
    margin-top: 10px;
    max-width: 200px;
}


@media screen and (max-width: 600px) {
    header nav {
        flex-direction: column;
    }

    header nav form {
        width: 80%;
        margin-top: 20px;
    }

    .recipe-details {
        width: 80%;
        height: 70%;
    }
}

/* EXTRA SEARCH BAR RESPONSIVE CODE */
@media screen and (max-width: 900px) {
    .header nav form {
        width: 60%;
    }

    form input[type="text"],
    form button[type="submit"] {
        font-size: 16px;
        padding: 8px;
    }
}

@media screen and (max-width: 700px) {
    .header nav {
        flex-direction: column;
        gap: 10px;
    }

    .header nav form {
        width: 80%;
    }

    form input[type="text"] {
        margin-right: 8px;
    }
}

@media screen and (max-width: 500px) {
    .header nav form {
        width: 95%;
        flex-direction: row;
    }

    form input[type="text"] {
        font-size: 14px;
        padding: 8px;
        margin-right: 6px;
    }

    form button[type="submit"] {
        font-size: 14px;
        padding: 7px 10px;
    }
}
>>>>>>> 0f9667c048ecc0ad60a1b7c88c6f6d910a90f50f
